/*-------------------------------------
 * Panel style
 -------------------------------------*/
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
	text-decoration: none;
	text-transform: uppercase;
	@include font-size(1.4);

	i {
		margin-right: 10px;
	}
}

.panel-group {
	.panel {
		border-radius: 0;
		box-shadow: none;
		border: none;
	}

	.panel-heading {
		border-radius: 0;
		border: solid 1px #ddd;
		background: transparent;
	}

	.panel-heading + .panel-collapse > .panel-body,
	.panel-heading + .panel-collapse > .list-group {
		border: none;
	}
}

.panel-default > .panel-heading {
	
}

.panel {
	background: transparent;
}