/*-------------------------------------
 * Carousel style
 -------------------------------------*/
.default-carousel {
	margin-bottom: 0;
}
.no-touch-device .owl-carousel,
.no-touch-device .slides-navigation {

	.owl-prev,
	.owl-next,
	.prev,
	.next {
		&:hover {
			cursor: pointer;
			background: rgba($carouselNavBGColor, .6);
		}
	}
}

.owl-carousel  {
	overflow: hidden;
}

.owl-nav,
.slides-navigation {

	.owl-prev,
	.owl-next,
	.prev,
	.next {
		color: $carouselNavColor;
		@include font-size(2.8);
		background: rgba($carouselNavBGColor, .7);
		//transform: rotate(45deg);
		position: absolute;
		top: 50%;
		transition: background .4s;
		z-index: 3;

		@media screen and (min-width: $screen-desktop) {
			width: 50px;
			height: 68px;
			margin-top: -34px;
		}

		@media screen and (max-width: $screen-desktop) {
			width: 40px;
			height: 50px;
			margin-top: -25px;
			@include font-size(1.5);
		}

		i {
			top: 20px;
			position: absolute;

			@media screen and (max-width: $screen-desktop) {
				top: 17px;
			}

			@media screen and (max-width: $screen-phone) {
				top: 18px;
				@include font-size(2);
			}
		}

		&:hover,
		&:focus,
		&:active {

			i {
				color: $carouselNavColor;
			}
		}
	}

	.owl-prev,
	.prev {
		left: 0;

		i {
			left: 20px;
		}
	}

	.owl-next,
	.next {
		right: 0;

		i {
			right: 20px;
		}
	}
}

.owl-dots {
	position: absolute;
	bottom: 10px;
	right: 0;
	left: 0;
	text-align: center;

	.owl-dot {
		width: 14px;
		height: 14px;
		margin: 0 4px;
		border-radius: 50%;
		border: solid 1px transparent;
		display: inline-block;
		position: relative;
		transition: all .3s;

		&:before {
			width: 6px;
			height: 6px;
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -3px;
			margin-left: -3px;
			background: $dotsColor;
			border-radius: 50%;
		}

		&.active {
			background: transparent;
			border-color: rgba($dotsColor, .3);
		}

		&:hover {
			cursor: pointer;
			border-color: rgba($dotsColor, .2);
		}
	}
}

/*-------------------------------------
 * Testimonials carousel style
 -------------------------------------*/
.testimonials {

	.et {
		@include font-size(4.7);
	}

	.title {
		@include font-size(1.6);
		letter-spacing: .5em;
		font-weight: 400;
		margin-top: 1em;
		margin-bottom: 2.4em;
	}

	.testimonial {
		padding: 0 30px 45px;
		max-width: 750px;
		margin: 0 auto .9em;
		position: relative;

		&:after {
			content: "";
			display: block;
			width: 40%;
			height: 1px;
			background: #ffffff;
			background: rgba(#ffffff, .13);
			position: absolute;
			bottom: 0;
			left: 30%;
		}
	}

	.client {
		@include font-size(1.3);
		margin-top: -3em;
		margin-bottom: 4em;
	}
}

/*-------------------------------------
 * Clients carousel style
 -------------------------------------*/
.client-carousel {
	overflow: visible;

	.owl-item {
		display: table;
	}

	.carousel-item {
		display: table-cell;
		vertical-align: middle;
		background: #f0f0f0;
		padding: 20px;
		text-align: center;
		width: 100%;
		height: 170px;

		@media screen and (max-width: $screen-lg-desktop) {
			height: 140px;
		}

		@media (min-width: $screen-tablet) and (max-width: $screen-desktop) {
			height: 95px;
		}

		img {
			max-width: 80px;
			display: inline-block;
		}
	}

	.owl-dots {
		bottom: -60px;

		.owl-dot {

			&:before {
				width: 6px;
				height: 6px;
				content: "";
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -3px;
				margin-left: -3px;
				background: #000000;
				background: rgba(#000000, .3);
				border-radius: 50%;
			}

			&.active {
				background: transparent;
				border-color: rgba(#000000, .25);
			}

			&.active:before {
				background: rgba(#000000, .65);
			}

			&:hover {
				cursor: pointer;
				border-color: rgba(#000000, .25);
			}
		}
	}
}

.client-item {
	margin-bottom: 30px;

	a {
		display: table-cell;
		vertical-align: middle;
		background: #f0f0f0;
		padding: 20px;
		text-align: center;
		width: 100%;
		height: 170px;

		@media screen and (max-width: $screen-lg-desktop) {
			height: 140px;
		}

		@media (min-width: $screen-tablet) and (max-width: $screen-desktop) {
			height: 95px;
		}

		img {
			max-width: 80px;
			display: inline-block;
		}
	}
}

/*-------------------------------------
 * Slider START
 -------------------------------------*/
.video-bg,
.image-bg {
	width: 100%;
	position: absolute;
	z-index: -1;
}

.home-slider {
	background: #222;

	.large-header {
		@include font-size(6.4);
		font-weight: 600;
		max-width: 1100px;
		line-height: 1.3;
		letter-spacing: .25em;

		@media ( max-width: $screen-phone ) {
			@include font-size(2.4);
		}

		@media ( max-width: $screen-tablet ) {
			@include font-size(3.4);
		}

		&.underline-large {

			&:after {
				content: "";
				display: block;
				width: 50%;
				height: 3px;
				background: rgba(255,255,255,.25);
				margin: .6em auto 0;
			}
		}
	}

	.slide {

		.content {
			background: rgba(34, 34, 34, .3);
			width: 100%;
			height: 100%;
			position: absolute;
			overflow: hidden;

			.display-tc {
				vertical-align: middle;
				padding: 0 25px;
			}
		}
	}

	// style 2
	&.slider-2 {

		.slide {

			.content {
				background: rgba(0, 0, 0, .3);

				.text-container {
					margin: auto;
					width: 735px;
					border: solid 1px rgba(#ffffff, .75);
					padding: 10px;
					position: relative;

					@media (max-width: $screen-desktop) {
						width: 600px;
					}

					@media (max-width: $screen-tablet) {
						width: 350px;
					}

					@media (max-width: $screen-phone) {
						width: 240px;
					}

					.top,
					.bottom {
						transform: rotate(-45deg);
						position: absolute;
					}

					.top {
						top: -60px;
						right: 210px;

						@media (max-width: $screen-desktop) {
							right: 160px;
						}

						@media (max-width: $screen-tablet) {
							top: -38px;
							right: 105px;
						}

						@media (max-width: $screen-phone) {
							right: 50px;
						}
					}

					.bottom {
						bottom: -60px;
						left: 217px;

						@media (max-width: $screen-desktop) {
							left: 170px;
						}

						@media (max-width: $screen-tablet) {
							bottom: -38px;
							left: 90px;
						}

						@media (max-width: $screen-phone) {
							left: 50px;
						}
					}

					.lines {
						content: "";
						display: block;
						border-top: solid 1px rgba(#ffffff, .50);
						border-bottom: solid 1px rgba(#ffffff, .50);
						width: 100px;
						height: 10px;
						transform: skewX(67deg);

						@media (max-width: $screen-tablet) {
							width: 50px;
						}
					}

					.background-container {
						background: rgba(#ffffff,.85);
						height: 86px;

						@media (max-width: $screen-desktop) {
							height: 65px;
						}

						@media (max-width: $screen-tablet) {
							height: 55px;
						}

						@media (max-width: $screen-phone) {
							height: 40px;
						}

						.text {
							@include font-size(1.8);
							letter-spacing: 1em;
							font-weight: 600;
							line-height: 86px;

							@media (max-width: $screen-desktop) {
								letter-spacing: .7em;
								line-height: 65px;
							}

							@media (max-width: $screen-tablet) {
								letter-spacing: .5em;
								@include font-size(1.4);
								line-height: 55px;
							}

							@media (max-width: $screen-phone) {
								letter-spacing: .2em;
								line-height: 40px;
							}
						}
					}
				}
			}
		}
	}

	&.video,
	&.image {
		background: transparent;

		.slide {

			.content {
				background: transparent;
			}
		}
	}
}

.home-text-rotate {
	@extend .home-slider;
}

.content {
	background: rgba(34, 34, 34, .3);
	width: 100%;
	height: 100%;
	position: absolute;

	.display-tc {
		vertical-align: middle;
		padding: 0 25px;
	}
}

/*-------------------------------------
 * Slider END
 -------------------------------------*/
