/*-------------------------------------
 * features style 1
 -------------------------------------*/
.features-list {
	display: table;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.features-item {
	text-align: center;
	@extend .features-item;
	display: table-cell;
	vertical-align: middle;
	color: $featuresStyle1Color;
	border-top: solid 1px $featuresStyle1BorderColor;
	border-right: solid 1px $featuresStyle1BorderColor;
	border-bottom: solid 1px $featuresStyle1BorderColor;
	width: calc(100% / #{$featuresStyle1ListCount});

	&:last-child {
		border-right: none;
	}

	&:hover {
		.features-icon {
			&:before,
			&:after {
				opacity: 1;
				top: 50%;
			}
		}
	}

	.features-icon {
		position: relative;

		@media screen and (min-width: $screen-lg-desktop) {
			@include font-size(10);
		}

		&:before,
		&:after {
			display: block;
			content: "";
			width: 30px;
			height: 5px;
			border-top: solid 1px $featuresStyle1Color;
			border-bottom: solid 1px $featuresStyle1Color;
			transform: skewX(55deg);
			position: absolute;
			top: 50%;
			margin-top: -2px;
			z-index: 9;
			opacity: 0;
			transition: all .3s;
		}

		&:before {
			left: -45px;
		}

		&:after {
			right: -45px;
		}
	}

	.title {
		text-align: center;
		@include font-size(1.4);
		letter-spacing: .1em;
		font-weight: 400;
		margin-top: 1.65em;
	}

	@media screen and (max-width: $screen-phone) {
		display: inline-block;
		width: calc(100% / (#{$featuresStyle1ListCount} / 2 ));
		margin-right: -4px;
		
		.align {
			height: 50%;
			margin-top: 25%;
		}

		&:nth-child(3) {
			border-right: none;
		}

		.features-icon {
			@include font-size(4);

			&:before,
			&:after {
				display: none;
			}
		}

		.title {
			@include font-size(1);
			padding: 0 10px;
			margin-top: 0;
		}
	}

	@media screen and (min-width: $screen-phone) {
		display: inline-block;
		width: calc(100% / (#{$featuresStyle1ListCount} / 2 ));
		margin-right: -4px;

		.align {
			height: 50%;
			margin-top: 25%;
		}

		&:nth-child(3) {
			border-right: none;
		}

		.features-icon {
			@include font-size(4);

			&:before,
			&:after {
				display: none;
			}
		}

		.title {
			@include font-size(1);
			padding: 0 10px;
		}
	}

	@media screen and (min-width: $screen-tablet) {
		width: calc(100% / #{$featuresStyle1ListCount});
		display: table-cell;

		.align {
			height: auto;
			margin-top: 0;
		}

		&:nth-child(3) {
			border-top: solid 1px $featuresStyle1BorderColor;
			border-right: solid 1px $featuresStyle1BorderColor;
		}

		.features-icon {
			@include font-size(5);

			&:before,
			&:after {
				display: none;
			}
		}

		.title {
			@include font-size(1);
			padding: 0 10px;
		}
	}

	@media screen and (min-width: $screen-desktop) {
		width: calc(100% / #{$featuresStyle1ListCount});
		display: table-cell;
		// padding: 3.3em 0;

		&:nth-child(3) {
			border-top: solid 1px $featuresStyle1BorderColor;
			border-right: solid 1px $featuresStyle1BorderColor;
		}

		.features-icon {
			@include font-size(7);

			&:before,
			&:after {
				width: 23px;
				display: block;
			}

			&:before {
				left: -38px;
			}

			&:after {
				right: -38px;
			}
		}

		.title {
			@include font-size(1);
		}
	}

	@media screen and (min-width: $screen-lg-desktop) {
		width: calc(100% / #{$featuresStyle1ListCount});
		display: table-cell;

		&:nth-child(3) {
			border-top: solid 1px $featuresStyle1BorderColor;
			border-right: solid 1px $featuresStyle1BorderColor;
		}
	}
}

.touch-device .features-item .features-icon {
	&:before,
	&:after {
		display: none;
	}
}

.feature-box {

	.feature-box-icon {
		@include font-size(3);
		float: left;
	}

	.feature-box-info {
		padding-left: 50px;

		.title {
			text-transform: uppercase;
			letter-spacing: .19em;
		}

		.tall {
			@include font-size(1.4);
		}
	}
}