/*-------------------------------------
 * Form style
 -------------------------------------*/
::-webkit-input-placeholder {text-transform: uppercase;}
::-moz-placeholder          {text-transform: uppercase;}/* Firefox 19+ */
:-moz-placeholder           {text-transform: uppercase;}/* Firefox 18- */
:-ms-input-placeholder      {text-transform: uppercase;}
label {
	font-weight: 300;
}

.form-control {
	box-shadow: none;
	border-color: $inputBorderColor;
	border-radius: 0;
	@include font-size($inputFontSize);
	font-weight: $inputFontWeight;
	letter-spacing: $inputLetterSpacing;
	padding: 1em 1.363em;
	height: 3.4em;

	.no-touch-device &:focus {
		border-color: $inputFocusBorderColor;
		box-shadow: none;
	}

	.touch-device &:focus {
		border-color: $inputBorderColor;
		box-shadow: none;
	}
}

.form-group {
	margin-bottom: 20px;
}

.help-block {
	display: inline-block;
	margin: 0.673em 0 0.625em;
	color: $helpBlockColor;
	@include font-size($helpBlockFontSize);
}

.radio,
.checkbox {

	label {
		@include font-size($radioCheckboxFontSize);
		font-weight: $radioCheckboxFontWeight;
		letter-spacing: $radioCheckboxLetterSpacing;
		text-transform: uppercase;
		padding-left: 30px;
		position: relative;

		@media screen and (max-width: $screen-tablet) {
			padding-left: 26px;
		}

		@media screen and (max-width: $screen-phone) {
			padding-left: 22px;
		}
	}
}

.checkbox label {

	&:after {
		content: "";
		display: inline-block;
		width: 21px;
		height: 21px;
		border: solid 1px #e9e9e9;
		margin-left: -30px;
		margin-right: 10px;
		position: absolute;
		top: 0px;
		left: 30px;

		@media screen and (max-width: $screen-tablet) {
			width: 19px;
  			height: 19px;
		}

		@media screen and (max-width: $screen-phone) {
			top: -1px;
			width: 15px;
  			height: 15px;
		}
	}
}

.checkbox {

	input {
		position: absolute;
		left: -99999px;

		&:checked + label:after {
			@include background($imgPath, "checkbox.svg", auto, auto, absolute);

			@media screen and (max-width: $screen-tablet) {
				background-size: 13px;
			}

			@media screen and (max-width: $screen-phone) {
				background-size: 11px;
			}
		}
	}
}

.radio label {

	&:after {
		content: "";
		display: inline-block;
		width: 20px;
		height: 20px;
		border: solid 1px #e9e9e9;
		margin-left: -30px;
		margin-right: 10px;
		border-radius: 50%;
		position: absolute;
		top: 0px;
		left: 30px;

		@media screen and (max-width: $screen-tablet) {
			width: 18px;
			height: 18px;
		}

		@media screen and (max-width: $screen-phone) {
			top: -1px;
			width: 15px;
			height: 15px;
		}
	}
}

.radio {

	input {
		position: absolute;
		left: -99999px;

		&:checked + label:before {
			content: "";
			display: inline-block;
			width: 6px;
			height: 6px;
			background: #262626;
			margin-left: -30px;
			margin-right: 10px;
			border-radius: 50%;
			position: absolute;
			top: 7px;
			left: 37px;

			@media screen and (max-width: $screen-tablet) {
				top: 6px;
  				left: 36px;
			}

			@media screen and (max-width: $screen-phone) {
				width: 5px;
				height: 5px;
				top: 4px;
  				left: 35px;
			}
		}
	}
}

.radio.disabled,
.checkbox.disabled {

	label {
		opacity: .5;

		&:hover {
			cursor: not-allowed;
		}
	}
}

.checkbox svg {
	margin-left: -28px;
	margin-right: 10px;
	position: relative;
	top: 2px;
	display: none;
}

.checkbox.checked svg {
	display: block;
}

textarea {
    resize: none;
}

textarea.form-control {
	padding: 0.89em 1.363em;
	min-height: 8.37em;
}

/*-------------------------------------
 * Select style
 -------------------------------------*/
select {
	width: 100%;
	height: 40px;
	border-color: $inputBorderColor;
	@include font-size($inputFontSize);
	font-weight: $inputFontWeight;
	letter-spacing: $inputLetterSpacing;
	text-transform: uppercase;
	padding: 0.588em 1.363em;
	color: $selectColor;

	option {
		text-transform: none;
	}
}

.no-touch-device select {
	&:focus {
		  border-color: $inputFocusBorderColor;
	}
}

/*-------------------------------------
 * Button style
 -------------------------------------*/
.btn,
.button {
	vertical-align: top;
	@include font-size($buttonFontSize);
	font-weight: $buttonFontWeight;
	text-transform: uppercase;
	letter-spacing: $buttonLetterSpacing;
	border-radius: 0;
	padding: 0.850em 2.800em;
	transition: all .4s;
	margin-right: 4px;

	.no-touch-device &:hover,
	.no-touch-device &:focus,
	.no-touch-device &:active {
		outline: none!important;
	}

	&:active,
	&.active {
		box-shadow: none;
	}

	&.pull-right {
		margin-right: 0;
	}
}

.btn-lg,
.btn-group-lg > .btn {
	@include font-size(1.8);
}

.btn-sm,
.btn-group-sm > .btn,
.btn-xs,
.btn-group-xs > .btn {
	@include font-size(1.2);
	letter-spacing: .1em;
}

.btn-sm,
.btn-group-sm > .btn {
	@extend .btn-sm;
	padding: 0.630em 2em;

	@media screen and (max-width: $screen-phone) {
		padding: 0.730em 2em 0.530em;
	}
}

.btn-xs,
.btn-group-xs > .btn {
	@extend .btn-xs;
	padding: 0.430em 1.3em;
}

.button,
.btn-primary {
	color: $buttonPrimaryColor;
	background-color: $buttonPrimaryBgColor;
	border-color: $buttonPrimaryBgColor;

	&.btn-inverted {
		color: $buttonPrimaryInvertedColor;
		background-color: rgba($buttonPrimaryInvertedBgColor, .85);
		border-color: $buttonPrimaryInvertedBgColor;
		transition: all .3s;
	}
}

.btn-default {
	color: $buttonDefaultColor;
	background-color: $buttonDefaultBgColor;
	border-color: $buttonDefaultBorderColor;

	&.btn-inverted {
		color: $buttonDefaultInvertedColor;
		background-color: $buttonDefaultInvertedBgColor;
		border-color: rgba($buttonDefaultInvertedBorderColor, .8);
		transition: all .3s;
	}
}

.btn-link {
	color: $buttonDefaultColor;
}

.touch-device {

	.btn-primary {
		
		&:hover,
		&:focus {
			color: $buttonPrimaryColor;
			background-color: $buttonPrimaryBgColor;
			border-color: $buttonPrimaryBgColor;		
		}

		&.btn-inverted:hover,
		&.btn-inverted:focus, {
			color: $buttonPrimaryInvertedColor;
			background-color: rgba($buttonPrimaryInvertedBgColor, .85);
			border-color: $buttonPrimaryInvertedBgColor;
		}
	}

	.btn-default {

		&:hover,
		&:focus {
			color: $buttonDefaultColor;
			background-color: $buttonDefaultBgColor;
			border-color: $buttonDefaultBorderColor;
		}

		&.btn-inverted:hover,
		&.btn-inverted:focus {
			color: $buttonDefaultInvertedColor;
			background-color: $buttonDefaultInvertedBgColor;
			border-color: rgba($buttonDefaultInvertedBorderColor, 1);
		}
	}

	.btn-link {

		&:hover,
		&:focus {
			color: $buttonDefaultColor;
		}
	}
}

.no-touch-device {

	.btn-primary {

		&:hover,
		&:focus {
			color: $buttonPrimaryHoverColor;
			background-color: $buttonPrimaryHoverBgColor;
			border-color: $buttonPrimaryHoverBgColor;		
		}

		&.btn-inverted:hover,
		&.btn-inverted:focus, {
			color: $buttonPrimaryInvertedColor;
			background-color: rgba($buttonPrimaryInvertedBgColor, .7);
			border-color: $buttonPrimaryInvertedBgColor;
		}
	}

	.btn-default {

		&:hover,
		&:focus,
		&.active {
			color: $buttonDefaultHoverColor;
			background-color: $buttonDefaultHoverBgColor;
			border-color: $buttonDefaultHoverBorderColor;
		}

		&.btn-inverted:hover,
		&.btn-inverted:focus {
			color: $buttonDefaultInvertedColor;
			color: rgba($buttonDefaultInvertedColor, .6);
			background-color: $buttonDefaultInvertedBgColor;
			border-color: $buttonDefaultInvertedBorderColor;
			border-color: rgba($buttonDefaultInvertedBorderColor, .6);
		}
	}

	.btn-link {

		&:hover,
		&:focus {
			color: $buttonDefaultColor;
		}
	}
}