/*-------------------------------------
 * Icons
 -------------------------------------*/
.big-icon {
	position: relative;
	display: inline-block;
	width: 2.3em;
	height: 2.2em;
	padding-left: 9px;
	line-height: 2.2em;
	border-radius: 50%;
	font-size: 4rem;
	border: solid 1px rgba(#ffffff, .4);

	&:hover,
	&:focus,
	&:active {
		
		i {
			color: #ffffff;
		}
	}
}

.circle {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: solid 1px #fff;
	border-radius: 50%;
	opacity: .6;
}

.pulse {
  animation: pulse 2s 5s infinite;
}

@keyframes pulse {
  0%  {
    transform: scale(1);
    opacity: .6;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

/*-------------------------------------
 * Border
 -------------------------------------*/
.border-t {
	border-top: solid 1px $borderColor;
}

.border-l {
	border-left: solid 1px $borderColor;
}

.border-r {
	border-right: solid 1px $borderColor;
}

.border-b {
	border-bottom: solid 1px $borderColor;
}

/*-------------------------------------
 * Section
 -------------------------------------*/
.page-section {
	padding: 5em 0 1em 0;
	position: relative;

	@media (max-width: $screen-tablet) {
		padding: 3.455em 0 1em 0;
	}

	&:before {
		z-index: auto;
	}
}

.page-section-small {
	padding-top: 4.455em;
	padding-bottom: 4.455em;
	position: relative;

	&:before {
		z-index: auto;
	}
}

.page-section-extra-small {
	padding-top: 2.455em;
	padding-bottom: 2.455em;
	position: relative;

	&:before {
		z-index: auto;
	}
}

/*-------------------------------------
 * Headers
 -------------------------------------*/
.page-header-small {
	padding: 4.455em 30px 2.455em;
	border-bottom: none;
	margin: 0;
	position: relative;
	background-size: cover;
	z-index: 0;

	@media (max-width: $screen-phone) {
		padding: 2.455em 30px 8.455em;
	}
}

.page-header {
	padding: 6.455em 30px 4.455em;
	border-bottom: none;
	margin: 0;
	position: relative;
	background-size: cover;
	z-index: 0;

	@media (max-width: $screen-phone) {
		padding: 4.455em 30px 8.455em;
	}
}

.page-header-large {
	padding: 12.455em 30px 8.455em;
	border-bottom: none;
	margin: 0;
	position: relative;
	background-size: cover;
	z-index: 0;

	@media (max-width: $screen-phone) {
		padding: 8.455em 30px 8.455em;
	}
}

/*-------------------------------------
 * Title
 -------------------------------------*/
.title-2 {
	padding-bottom: 23px;
	display: inline-block;
	width: 50%;
	font-weight: 400;
	letter-spacing: 0.39em;
	@extend .border-b;
}

.title-3 {
	letter-spacing: 0.65em;
	display: inline-block;
	line-height: 1;

	&:after {
		content: "";
		display: inline-block;
		width: 80%;
		height: 1px;
		background: #ffffff;
		opacity: .2;
		margin-left: -3%;
	}
}

.title-border {
	padding: .1em .7em .1em 1em;
	border: solid 3px;
}

/*-------------------------------------
 * Color hellper
 -------------------------------------*/
.white {
	color: #ffffff;
}

.gray {
	color: #777777;
}



/*-------------------------------------
 * Position relative
 -------------------------------------*/
.pos-relative {
	position: relative;
}

/*-------------------------------------
 * Opacity
 -------------------------------------*/
@for $i from 0 through 100 {
	.opacity-#{$i} {
		opacity: #{$i * 0.01};
	}
}

/*-------------------------------------
 * Font size
 -------------------------------------*/
.font-size-15 {
	@include font-size(1.5);
}

/*-------------------------------------
 * Margin top and bottom
 -------------------------------------*/
@for $i from 0 through 100 {

	.mt#{$i} {
		margin-top: #{$i}px;
	}

	.mb#{$i} {
		margin-bottom: #{$i}px;
	}

	.mt-#{$i} {
		margin-top: -#{$i}px;
	}

	.mb-#{$i} {
		margin-bottom: -#{$i}px;
	}

}

@for $i from 0 through 100 {
	@media screen and (max-width: $screen-tablet) {
		.mt-xs#{$i} {
			margin-top: #{$i}px;
		}

		.mb-xs#{$i} {
			margin-bottom: #{$i}px;
		}

		.mt-xs-#{$i} {
			margin-top: -#{$i}px;
		}

		.mb-xs-#{$i} {
			margin-bottom: -#{$i}px;
		}
	}
}

@for $i from 0 through 100 {
	@media screen and (min-width: $screen-tablet) {
		.mt-sm#{$i} {
			margin-top: #{$i}px;
		}

		.mb-sm#{$i} {
			margin-bottom: #{$i}px;
		}

		.mt-sm-#{$i} {
			margin-top: -#{$i}px;
		}

		.mb-sm-#{$i} {
			margin-bottom: -#{$i}px;
		}
	}
}

@for $i from 0 through 100 {
	@media screen and (min-width: $screen-desktop) {
		.mt-md#{$i} {
			margin-top: #{$i}px;
		}

		.mb-md#{$i} {
			margin-bottom: #{$i}px;
		}

		.mt-md-#{$i} {
			margin-top: -#{$i}px;
		}

		.mb-md-#{$i} {
			margin-bottom: -#{$i}px;
		}
	}
}

@for $i from 0 through 100 {
	@media screen and (min-width: $screen-lg-desktop) {
		.mt-lg#{$i} {
			margin-top: #{$i}px;
		}
		.mb-lg#{$i} {
			margin-bottom: #{$i}px;
		}

		.mt-lg-#{$i} {
			margin-top: -#{$i}px;
		}
		.mb-lg-#{$i} {
			margin-bottom: -#{$i}px;
		}
	}
}

@for $i from 0 through 100 {
	@media screen and (min-width: $screen-lg-desktop) {
		.mt-lg#{$i} {
			margin-top: #{$i}px;
		}
		.mb-lg#{$i} {
			margin-bottom: #{$i}px;
		}

		.mt-lg-#{$i} {
			margin-top: -#{$i}px;
		}
		.mb-lg-#{$i} {
			margin-bottom: -#{$i}px;
		}
	}
}

/*-------------------------------------
 * Padding top and bottom
 -------------------------------------*/
@for $i from 1 through 100 {

	.pt#{$i} {
		padding-top: #{$i}px;
	}

	.pb#{$i} {
		padding-bottom: #{$i}px;
	}
}

@for $i from 1 through 100 {
	@media screen and (max-width: $screen-tablet) {
		.pt-xs#{$i} {
			padding-top: #{$i}px;
		}

		.pb-xs#{$i} {
			padding-bottom: #{$i}px;
		}
	}
}

@for $i from 1 through 100 {
	@media screen and (min-width: $screen-tablet) {
		.pt-sm#{$i} {
			padding-top: #{$i}px;
		}

		.pb-sm#{$i} {
			padding-bottom: #{$i}px;
		}
	}
}

@for $i from 1 through 100 {
	@media screen and (min-width: $screen-desktop) {
		.pt-md#{$i} {
			padding-top: #{$i}px;
		}

		.pb-md#{$i} {
			padding-bottom: #{$i}px;
		}
	}
}

@for $i from 1 through 100 {
	@media screen and (min-width: $screen-lg-desktop) {
		.pt-lg#{$i} {
			padding-top: #{$i}px;
		}
		.pb-lg#{$i} {
			padding-bottom: #{$i}px;
		}
	}
}

/*-------------------------------------
 * Displays
 -------------------------------------*/
.display-ib {
	display: inline-block;
}

.display-b {
	display: block;
}

.display-i {
	display: inline;
}

.display-tc {
	display: table-cell;
}

.display-n {
	display: none;
}

.display-h {
	visibility: hidden;
}

@media screen and (max-width: $screen-tablet) {
	.display-xs-ib {
		display: inline-block;
	}

	.display-xs-b {
		display: block;
	}

	.display-xs-i {
		display: inline;
	}

	.display-xs-tc {
		display: table-cell;
	}

	.display-xs-n {
		display: none;
	}
}

@media screen and (min-width: $screen-tablet) {
	.display-sm-ib {
		display: inline-block;
	}

	.display-sm-b {
		display: block;
	}

	.display-sm-i {
		display: inline;
	}

	.display-sm-tc {
		display: table-cell;
	}

	.display-sm-n {
		display: none;
	}
}

@media screen and (min-width: $screen-desktop) {
	.display-md-ib {
		display: inline-block;
	}

	.display-md-b {
		display: block;
	}

	.display-md-i {
		display: inline;
	}

	.display-md-tc {
		display: table-cell;
	}

	.display-md-n {
		display: none;
	}
}

@media screen and (min-width: $screen-lg-desktop) {
	.display-lg-ib {
		display: inline-block;
	}

	.display-lg-b {
		display: block;
	}

	.display-lg-i {
		display: inline;
	}

	.display-lg-tc {
		display: table-cell;
	}

	.display-lg-n {
		display: none;
	}
}

/*-------------------------------------
 * Section background
 -------------------------------------*/
.background-fixed {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.bg-section {
	z-index: 0;
	position: relative;
	background-position: center center;
	background-size: cover;
}
.bg-container {
	position: absolute;
	top: 0;
	bottom: 0;
}
.bg-container-full {
	@extend .bg-container;
	right: 0;
	left: 0;
}

.bg-container-left {
	@extend .bg-container;
	left: 0;

	@media screen and (max-width: $screen-tablet) {
		right: 0;
	}
}

.bg-container-right {
	@extend .bg-container;
	right: 0;

	@media screen and (max-width: $screen-tablet - 1) {
		display: none;
	}
}

/*-------------------------------------
 * Font eight
 -------------------------------------*/
@for $i from 1 through 9 {
	.fw-#{$i}00 {
		font-weight: #{$i}00;
	}
}

/*-------------------------------------
 * Font letter soacing
 -------------------------------------*/
@for $i from 1 through 99 {
	.ls-0#{$i} {
		letter-spacing: #{$i * 0.01}em;
	}
}

/*-------------------------------------
 * Screenshot frame
 -------------------------------------*/
.img-frame {
	border-radius: 3px;
	border: solid 4px #979797;
	border-bottom-width: 5px;
	background-color: #979797;
	line-height: 1;
	display: inline-block;

	.dot {
		display: inline-block;
		width: 7px;
		height: 7px;
		border-radius: 50%;
		background: #fff;
		margin: 3px 4px 7px 2px;
	}

	img {
		display: block;
	}
}
