#home {
	.h5, .morphext span, .scroll-btn-wrapper a {
		text-shadow: 0 0 10px rgba(#000, 0.3) !important;
	}

	@media all and (max-width: 465px) {
		.btn-last {
			margin-top: 1em;
		}
	}
}

.speaker-description {
	margin-top: 3em;
}

.js-countdown {
}
.countdown-row {
	display: flex;
	justify-content: center;
}
.countdown-section {
	text-align: right;
	& + .countdown-section {
		position: relative;
		margin-left: .75em;
		&::before {
			opacity: .5;
			content: ':';
			position: absolute;
			left: -.5em;
		}
	}
}
.countdown-amount {
	font-weight: 300;
}
.countdown-period {
	opacity: .5;
	margin-right: .5em;
	margin-top: -.7em;
	margin-bottom: 1em;
	display: block;
	text-transform: uppercase;
	font-size: .32em;
	letter-spacing: .2px;
}

@media all and (min-width:425px) {
	.js-countdown {
		font-size: 1.4em;
	}
	.countdown-period {
		font-size: .25em;
	}
}

@media all and (min-width:580px) {
	.js-countdown {
		font-size: 1.6em;
	}
	.countdown-period {
		font-size: .2em;
	}
}

@media all and (min-width:$screen-tablet) {
	.js-countdown {
		font-size: 1.6em;
	}
	.countdown-period {
		font-size: .21em;
	}
}

#planning li {
    font-size: 1.2em;
}

#planning li span {
	font-weight: 600;
}

.host-description {
	padding-top: 1em;
	@media all and (max-width: 1024px) {
		padding-top: 0;
	}
}

.host {
	padding-top: 1em !important;
}

.team-section {
	display: none;
}
