/*-------------------------------------
 * Portfolio style
 -------------------------------------*/
.portfolio-filter {
	padding: 2.6em 0 2.1em;
	background: #fff;
	position: relative;

	.btn {
		margin: 0 3px 10px;
	}
}

.portfolio-list {
	margin: 0;
	background: #fff;
	display: block;
  	width: 100%;

	&.portfolio-list__bigbang {
		display: flex;
		justify-content:center;
		@media (max-width: $screen-phone) {
			flex-direction: column;
		}
	}
	&.portfolio-list__galaxy {
		display: flex;
		justify-content:center;
		.portfolio-item {
			width: 25%;
		}
		@media (max-width: $screen-phone) {
			flex-wrap: wrap;
			.portfolio-item {
				width: 50%;
			}

		}

	}
	&.portfolio-list__planet {
		display: flex;
		justify-content:center;

		.portfolio-item {
			width: 20%;
		}
		@media (max-width: $screen-phone) {
			flex-wrap: wrap;
			.portfolio-item {
				width: 33.33%;
			}

		}
	}

	&.masonry {

		.portfolio-item,
		.grid-sizer {
			width: 25%;
			background: deeppink;
			border: 2px solid #ffffff;
			box-sizing: border-box;

			&.large {
				width: 50%;
			}

			@media (max-width: $screen-phone) {
				width: 50%;

				&.large {
					width: 100%;

				}
			}
		}
	}

	&.five-column {

		.portfolio-item,
		.grid-sizer {
			width: 20%;

			@media (max-width: $screen-phone) {
				width: 33.33333%;
			}
		}
	}

	&.four-column {

		.portfolio-item,
		.grid-sizer {
			width: 25%;

			@media (max-width: $screen-phone) {
				width: 50%;
			}
		}
	}

	&.three-column {

		.portfolio-item,
		.grid-sizer {
			width: 33.33333%;

			@media (max-width: $screen-phone) {
				width: 100%
			}
		}
	}

	&.two-column {

		.portfolio-item,
		.grid-sizer {
			width: 50%;

			@media (max-width: $screen-phone) {
				width: 100%;
			}
		}
	}

	&.paralax {

		.portfolio-item {
			width: 100%;
			height: 500px;
			overflow: hidden;
			background-attachment: fixed;
			background-repeat: no-repeat;
			background-position: 0 0;
			position: static;

			&:hover {
				cursor: default;
			}

			@media (max-width: $screen-desktop) {
				height: 420px;
			}

			@media (max-width: $screen-tablet) {
				height: 350px;
			}

			@media (max-width: $screen-phone) {
				height: 200px;
				background-attachment: scroll;
				background-size: cover;
			}

			.info-wrapper {
				display: table-cell;
				vertical-align: middle;
				background: rgba(#000000, .7);

				.title {
					position: static;
					opacity: 1;
					@include font-size(4);
					font-weight: 300;
					letter-spacing: .4em;
					margin-bottom: 35px;

					@media (max-width: $screen-phone) {
						@include font-size(2.5);
					}

					&:hover {
						cursor: default;
					}
				}
			}

			a {
				display: inline-block;
				width: auto;
				height: auto;
			}

			&:before,
			&:after {
				display: none!important;
			}

			@media (max-width: $screen-phone) {
				width: 100%;
			}
		}
	}
}

.portfolio-item {
	display: block;
	float: left;
	position: relative;
	opacity: 1;
	transition: opacity 1s;
	z-index: 1;

	&.opacity {
		opacity: .6;
	}

	a {
		position: relative;
		z-index: 99;
		display: block;
		width: 100%;
		height: 100%;

		&:before,
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			transition: opacity .3s;
		}

		&:before {
			background: rgba($portfolioItemOverlayColor, 0);
			opacity: 1;
		}

		&:after {
			top: 35%;
			opacity: 0;
			// background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMyJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC43Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
			background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,mix(#047, #262626, 70%) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(30%,rgba(0,0,0,0)), color-stop(100%,mix(#047, #262626, 70%))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,mix(#047, #262626, 70%) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,mix(#047, #262626, 70%) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,mix(#047, #262626, 70%) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,mix(#047, #262626, 70%) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-8 */
		}

		&:hover:before {
			opacity: 0;
		}

		&:hover:after {
			opacity: 1;
		}
	}



	img {
		width: 100%;
	}

	.info-container {
		position: absolute;
		bottom: 30px;
		left: 0;
		right: 0;

		@media screen and (max-width: $screen-desktop) {
			bottom: 23px;
		}

		@media screen and (max-width: $screen-tablet) {
			bottom: 17px;
		}

		@media screen and (max-width: $screen-phone) {
			bottom: 10px;
		}
	}

	.title,
	.category {
		position: relative;
		text-align: center;
		color: #fff;
		left: 0;
		right: 0;
		z-index: 10;
		transition: all .3s;

		&:hover {
			cursor: pointer;
		}
	}

	.title {
		@include font-size(1.4);
		font-weight: 600;
		letter-spacing: .1em;
		text-transform: uppercase;
		top: -10px;
		opacity: 0;
	}

	.category {
		@include font-size(1.3);
		opacity: .7;
		font-weight: 400;
		bottom: -10px;
		opacity: 0;
	}

	&:hover {

		.title {
			top: 0;
			opacity: 1;
		}

		.category {
			bottom: 0;
			opacity: 1;
		}
	}

	@media screen and (max-width: $screen-tablet-h) {
		.title {
			@include font-size(1.3);
			line-height: 1.4;
		}

		.category {
			@include font-size(1.2);
			line-height: 1.4;
		}

		// &:hover {

		// 	.title {
		// 		bottom: 19%;
		// 	}

		// 	.category {
		// 		bottom: 9%;
		// 	}
		// }
	}
}

.mfp-bg.white-bg {
	background: $bodyBg;
	opacity: 1;
}

.mfp-container {
	padding: 0;
}

.work-full-detail {
	text-transform: uppercase;

	p {
		margin-bottom: 0;
		@include font-size(1.3);
		letter-spacing: .1em;
	}

	b {
		font-weight: 400;
	}
}

.work-navigation {
	border-bottom: solid 1px #e3e3e3;

	&.footer {

		a {

			i {
				position: relative;
				top: -1px;
			}
		}
	}

	a {
		text-transform: uppercase;
		@include font-size(1.3);
		color: #000000;
		transition: opacity .3s;
		letter-spacing: .1em;
		padding: 1.3em 0.7em;
		display: block;

		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
			opacity: .8;
		}

		i {
			position: relative;
			top: 1px;

			@media screen and (max-width: $screen-tablet) {
				top: -1px;
			}
		}
	}
}

.owl-item {
	.portfolio-item {
		width: 100%;
	}
}

// Image border

#slider-photos img {
   padding: 0 2px 0 2px;
   border: 2px solid #fff;
   background-color: #fff;
}
