/*-------------------------------------
 * Promo photo block style
 -------------------------------------*/
.promo-photo-block {
	display: inline-block;
	position:relative;       
	margin: 2.9em 0 2.8em;

	&:after {
		display: block;
		content: "";
		height: 1px;
		background: radial-gradient(ellipse at center,#6a6466 62%,#f4f4f4 71%);
		content: "";
		position: absolute; 
		z-index: -1;
		box-shadow: 0 0 20px rgba(#000000, 1);
		top: auto;
		bottom: -1px;
		left: 5px;
		right: 5px;
	}

	.promo-photo-block-wrapper {
		padding: 0 30px;
		overflow: hidden;

		> div {
			display: inline-block;
			vertical-align: bottom;
			position: relative;
			box-shadow: 0px 30px 20px 0px rgba(0, 0, 0, .5);

			img {
				max-width: 100%;
			}
		}
	}

	.block-2 {
		z-index: 10;
		box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, .3);

		@media screen and (max-width: $screen-desktop) {
			max-width: 110px;
			max-height: 110px;
		}

		@media screen and (max-width: $screen-tablet) {
			max-width: 60px;
			max-height: 60px;
		}
	}

	.block-1 {
		margin-left: -55px;
		z-index: 20;

		@media screen and (max-width: $screen-desktop) {
			max-width: 120px;
			max-height: 120px;
		}

		@media screen and (max-width: $screen-tablet) {
			max-width: 70px;
			max-height: 70px;
			margin-left: -35px;
		}
	}

	.block0 {
		margin-left: -44px;
		margin-right: -45px;
		z-index: 30;

		@media screen and (max-width: $screen-desktop) {
			max-width: 150px;
			max-height: 150px;
		}

		@media screen and (max-width: $screen-tablet) {
			max-width: 90px;
			max-height: 90px;
			margin-left: -35px;
			margin-right: -35px;
		}
	}

	.block1 {
		margin-right: -55px;
		z-index: 20;

		@media screen and (max-width: $screen-desktop) {
			max-width: 120px;
			max-height: 120px;
		}

		@media screen and (max-width: $screen-tablet) {
			max-width: 70px;
			max-height: 70px;
			margin-right: -35px;
		}
	}

	.block2 {
		z-index: 10;
		box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, .3);

		@media screen and (max-width: $screen-desktop) {
			max-width: 110px;
			max-height: 110px;
		}

		@media screen and (max-width: $screen-tablet) {
			max-width: 60px;
			max-height: 60px;
		}
	}
}