/*-------------------------------------
 * Social buttons
 -------------------------------------*/
.bw-social {
	display: inline-block;
	width: 26px;
	height: 26px;
	background: $socialBgColor;
	color: $socialColor;
	font-size: 14px;
	transform: rotate(45deg);
	margin: 0 7px;
	line-height: 26px;
	transition: all .4s;

	.no-touch-device &:hover,
	.no-touch-device &:focus {
		background: $sociaHoverlBgColor;
		color: $socialColor;
	}

	.touch-device &:hover,
	.touch-device &:focus {
		color: $socialColor;
	}

	i {
		transform: rotate(-45deg);
	}
}