<article id="twitter">
    <div class="section-header" data-overlay-color="#f4f4f4" data-overlay-opacity="0.95">
        <h2 class="text-uppercase">Explora el hastag #CallOfData</h2>
    </div>
    <div class="page-section" data-overlay-color="#ffffff">
        <div class="text-center">
            <a class="twitter-timeline" href="https://twitter.com/hashtag/CallOfData" data-widget-id="881064331441561600" data-width="700" data-height="400">#CallOfData</a>
            <script>
                ! function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0],
                        p = /^http:/.test(d.location) ? 'http' : 'https';
                    if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = p + "://platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js, fjs);
                    }
                }(document, "script", "twitter-wjs");
            </script>
        </div>
    </div>
</article>
