<div class="portfolio">
    <ul class="portfolio-list portfolio-list__planet list-unstyled">
        <li class="grid-sizer"></li>
        <li class="portfolio-item branding work-ajax-link">
            <a href="https://microsoft.com" class="page-load" data-title="Microsoft">
                <img src="img/sponsors/sponsor-microsoft.png" alt="Microsoft" width="400" height="320">
                <div class="info-container">
                    <div class="title">Microsoft</div>
                    <div class="category">Partner</div>
                </div>
            </a>
        </li>
        <!-- .portfolio-item -->
        <li class="grid-sizer"></li>
        <li class="portfolio-item branding work-ajax-link">
            <a href="https://www.campus.co/madrid/en" class="page-load" data-title="Campus Madrid">
                <img src="img/sponsors/sponsor-campus-madrid.png" alt="Campus Madrid" width="400" height="320">
                <div class="info-container">
                    <div class="title">Campus Madrid</div>
                    <div class="category">Anfitrión</div>
                </div>
            </a>
        </li>
        <!-- .portfolio-item -->
        <li class="grid-sizer"></li>
        <li class="portfolio-item branding work-ajax-link">
            <a href="https://www.womenalia.com/es/" class="page-load" data-title="Womenalia">
                <img src="img/sponsors/sponsor-womenalia.png" alt="Womenalia" width="400" height="320">
                <div class="info-container">
                    <div class="title">Womenalia</div>
                    <div class="category">Media Partner</div>
                </div>
            </a>
        </li>
        <!-- .portfolio-item -->
        <li class="grid-sizer"></li>
        <li class="portfolio-item branding work-ajax-link">
            <a href="http://www.comunicacionygenero.com/" class="page-load" data-title="Womenalia">
                <img src="img/sponsors/sponsor-agencia-comunicacion.png" alt="Agencia de género y comunicación" width="400" height="320">
                <div class="info-container">
                    <div class="title">Agencia de género y comunicación</div>
                    <div class="category">Media Partner</div>
                </div>
            </a>
        </li>
        <!-- .portfolio-item -->
        <li class="grid-sizer"></li>
        <li class="portfolio-item branding work-ajax-link">
            <a href="http://destellos.es/" class="page-load" data-title="Destellos">
                <img src="img/sponsors/sponsor-destellos.png" alt="Destellos" width="400" height="320">
                <div class="info-container">
                    <div class="title">Destellos</div>
                    <div class="category">Partner</div>
                </div>
            </a>
        </li>
        <!-- .portfolio-item -->
        <li class="grid-sizer"></li>
        <li class="portfolio-item branding work-ajax-link">
            <a href="https://spain.girlsintech.org/" class="page-load" data-title="Girls in tech">
                <img src="img/sponsors/sponsor-girls-in-tech.png" alt="Girls in tech" width="400" height="320">
                <div class="info-container">
                    <div class="title">Girls in Tech</div>
                    <div class="category">Partner</div>
                </div>
            </a>
        </li>
        <!-- .portfolio-item -->
        <li class="grid-sizer"></li>
        <li class="portfolio-item branding work-ajax-link">
            <a href="http://hackathonlovers.com/" class="page-load" data-title="Hackathon Lovers">
                <img src="img/sponsors/sponsor-hackathon-lovers.png" alt="Hackathon Lovers" width="400" height="320">
                <div class="info-container">
                    <div class="title">Hackathon Lovers</div>
                    <div class="category">Media Partner</div>
                </div>
            </a>
        </li>
    </ul>
    <!-- .portfolio-list -->
    <div class="clearfix"></div>
</div>
