<div class="section-header" data-overlay-color="#f4f4f4" data-overlay-opacity="0.95">
    <h2 class="text-uppercase">Nuestros sponsors y colaboradores</h2>
</div>
<div class="portfolio">
    <ul class="portfolio-list portfolio-list__bigbang list-unstyled">
        <li class="grid-sizer"></li>
        <li class="portfolio-item branding work-ajax-link">
            <a href="https://rladies.org" class="page-load" data-title="R-Ladies Global">
                <img src="img/sponsors/sponsor-rladies.png" alt="R-Ladies" width="400" height="320">
                <div class="info-container">
                    <div class="title">R-Ladies</div>
                    <div class="category">Big Bang Sponsor</div>
                </div>
            </a>
        </li><!-- .portfolio-item -->
        <li class="portfolio-item branding work-ajax-link">
            <a href="http://www.datatons.com/" class="page-load" data-title="Datatons">
                <img src="img/sponsors/sponsor-datatons.png" alt="Datatons" width="400" height="320">
                <div class="info-container">
                    <div class="title">Datatons</div>
                    <div class="category">Big Bang Sponsor</div>
                </div>
            </a>
        </li><!-- .portfolio-item -->

    </ul><!-- .portfolio-list -->
    <div class="clearfix"></div>
</div>
