<article id="projects">
	<div class="section-header" data-overlay-color="#f4f4f4" data-overlay-opacity="0.95">
		<h2 class="text-uppercase">Proyectos</h2>
	</div>
	<div class="page-section" data-overlay-color="#ffffff">
		<div class="container">
			<div class="row text-center">
			<div class="col-md-3 col-sm-6">
				<p>
					<a href="https://github.com/rladies/CallOfData_Madrid_2017/tree/master/CallOfData_CarolShaw" class="btn btn-primary">Team Carol Shaw</a>
				</p>
				<p>
					<a href="https://github.com/rladies/CallOfData_Madrid_2017/tree/master/CallOfData_EdithClarke" class="btn btn-primary">Team Edith Clarke</a>
				</p>
				<p>
					<a href="https://github.com/rladies/CallOfData_Madrid_2017/tree/master/CallOfData_EvelynBoyd" class="btn btn-primary">Team Evelyn Boyd</a>
				</p>
				<p>
					<a href="https://github.com/rladies/CallOfData_Madrid_2017/tree/master/CallOfData_GraceHopper" class="btn btn-primary">Team Grace Hopper</a>
				</p>
			</div>
			<div class="col-md-3 col-sm-6">
				<p>
					<a href="https://en.wikipedia.org/wiki/Carol_Shaw_(video_game_designer)" class="btn btn-default">About Carol Shaw</a>
				</p>
				<p>
					<a href="https://en.wikipedia.org/wiki/Edith_Clarke" class="btn btn-default">About Edith Clarke</a>
				</p>
				<p>
					<a href="https://en.wikipedia.org/wiki/Evelyn_Boyd_Granville" class="btn btn-default">About Evelyn Boyd</a>
				</p>
				<p>
					<a href="https://en.wikipedia.org/wiki/Grace_Hopper" class="btn btn-default">About Grace Hopper</a>
				</p>
			</div>
			<div class="col-md-3 col-sm-6">
				<p>
					<a href="https://github.com/rladies/CallOfData_Madrid_2017/tree/master/CallOfData_JaneseSwanson" class="btn btn-primary">Team Janese Swanson</a>
				</p>
				<p>
					<a href="https://github.com/rladies/CallOfData_Madrid_2017/tree/master/CallOfData_KathleenMcNulty" class="btn btn-primary">Team Kathleen McNulty</a>
				</p>
				<p>
					<a href="https://github.com/rladies/CallOfData_Madrid_2017/tree/master/CallOfData_RadiaPerlman" class="btn btn-primary">Team Radia Perlman</a>
				</p>
				<p>
					<a href="https://github.com/rladies/CallOfData_Madrid_2017/tree/master/CallOfData_SusanKare" class="btn btn-primary">Team Susan Kare</a>
				</p>
			</div>
			<div class="col-md-3 col-sm-6">
				<p>
					<a href="https://en.wikipedia.org/wiki/Janese_Swanson" class="btn btn-default">About Janese Swanson</a>
				</p>
				<p>
					<a href="https://en.wikipedia.org/wiki/Kathleen_Antonelli" class="btn btn-default">About Kathleen McNulty</a>
				</p>
				<p>
					<a href="https://en.wikipedia.org/wiki/Radia_Perlman" class="btn btn-default">About Radia Perlman</a>
				</p>
				<p>
					<a href="https://en.wikipedia.org/wiki/Susan_Kare" class="btn btn-default">About Susan Kare</a>
				</p>
			</div>
		</div>
		</div>
	</div>
</article>
