<div class="portfolio">
    <ul class="portfolio-list portfolio-list__galaxy list-unstyled">
        <!-- .portfolio-item -->
        <li class="grid-sizer"></li>
        <li class="portfolio-item branding work-ajax-link">
            <a href="https://carto.com" class="page-load" data-title="Carto">
                <img src="img/sponsors/sponsor-carto.png" alt="Carto" width="400" height="320">
                <div class="info-container">
                    <div class="title">Carto</div>
                    <div class="category">Planet Sponsor</div>
                </div>
            </a>
        </li>
        <!-- .portfolio-item -->
        <li class="grid-sizer"></li>
        <li class="portfolio-item branding work-ajax-link">
            <a href="https://sngular.team" class="page-load" data-title="Sngular">
                <img src="img/sponsors/sponsor-sngular.png" alt="Sngular" width="400" height="320">
                <div class="info-container">
                    <div class="title">Sngular</div>
                    <div class="category">Galaxy Sponsor</div>
                </div>
            </a>
        </li>
        <!-- .portfolio-item -->
        <li class="grid-sizer"></li>
        <li class="portfolio-item branding work-ajax-link">
            <a href="http://www.oxfamintermon.org/" class="page-load" data-title="Sngular">
                <img src="img/sponsors/sponsor-oxfam-intermon.png" alt="Intermon Oxfam" width="400" height="320">
                <div class="info-container">
                    <div class="title">Intermon Oxfam</div>
                    <div class="category">Partner</div>
                </div>
            </a>
        </li>
        <!-- .portfolio-item -->
        <li class="grid-sizer"></li>
        <li class="portfolio-item branding work-ajax-link">
            <a href="https://www.grupocooperativocajamar.es/es/comun/" class="page-load" data-title="Cajamar">
                <img src="img/sponsors/sponsor-cajamar.png" alt="Cajamar" width="400" height="320">
                <div class="info-container">
                    <div class="title">Grupo Cooperativo Cajamar</div>
                    <div class="category">Partner</div>
                </div>
            </a>
        </li>
        <!-- .portfolio-item -->
        <li class="grid-sizer"></li>
        <li class="portfolio-item branding work-ajax-link">
            <a href="https://www.acciona.com/" class="page-load" data-title="Acciona">
                <img src="img/sponsors/sponsor-acciona.png" alt="Acciona" width="400" height="320">
                <div class="info-container">
                    <div class="title">Acciona</div>
                    <div class="category">Galaxy Sponsor</div>
                </div>
            </a>
        </li>
    </ul>
    <!-- .portfolio-list -->
    <div class="clearfix"></div>
</div>
