@mixin partners---tablet {
  font-family: 'Roboto Slab';
  font-size: 16px;
  text-align: center;
  color: $tomato;
}

@mixin partners---mobile {
  font-family: 'Roboto Slab';
  font-size: 12px;
  text-align: center;
  color: $tomato;
}

@mixin coc---mobile {
  font-family: 'Roboto Slab';
  font-size: 12px;
  font-weight: 300;
  line-height: 1.25;
  text-align: center;
  color: $mango;
}

@mixin coc---tablet {
  font-family: 'Roboto Slab';
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  color: $mango;
}

@mixin btn--primary--text{
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: $tomato;
  text-decoration: none;
  text-transform: uppercase;
}


@mixin landing-image {
  background-color: $background;
  background-image: url('../img/backgrounds/background_mobile.jpeg');
  background-size: auto 120%;
  background-position: center bottom;
  background-repeat: no-repeat;

  @media screen and (min-width: $tablet-min-width) {
    background-size: cover;
    background-image: url('../img/backgrounds/background.jpeg');
  }
}

@mixin newsletter-image {
  background-color: $background;
  background-image: url('../img/backgrounds/background_newsletter_mobile.jpg');
  background-size: 100% 100%;
  background-position-x: center;
  background-repeat: no-repeat;

  @media screen and (min-width: $tablet-min-width) {
    background-size: 100% 100%;
    background-image: url('../img/backgrounds/background_newsletter.jpg');
  }
}

@mixin grid--padding {
  padding-left: 18px;
  padding-right: 18px;

  @media screen and (min-width: $tablet-min-width) {
    padding-left: 45px;
    padding-right: 45px;
  }
  @media screen and (min-width: $desktop-min-width) {
    padding-left: 200px;
    padding-right: 200px;
  }
}

@mixin grid--padding-content {
  padding-left: 18px;
  padding-right: 18px;

  @media screen and (min-width: $tablet-min-width) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media screen and (min-width: $desktop-min-width) {
    padding-left: 375px;
    padding-right: 375px;
  }
}

@mixin nav--option--tablet {
  font-family: Roboto;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

@mixin nav--option--desktop{
  font-family: Roboto;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

@mixin hamburger--button {
  font-family: FontAwesome;
  font-size: 20px;
  text-align: center;
  color: #ff991d;
  color: $mango;
}

@mixin menu--option{
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 2.5;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}

@mixin landing--description--desktop{
  font-family: 'RobotoSlab';
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
}

@mixin landing--description--tablet{
  font-family: 'RobotoSlab';
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
}

@mixin landing--description--mobile{
  font-family: 'RobotoSlab';
  font-size: 15px;
  text-align: center;
  color: #ffffff;
}

@mixin title-section {
  font-family: 'Roboto Slab';
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: $almost-black;
  border-left: 5px solid $red;
  padding: 0 15px;
  margin: 0;
}