@mixin partners---tablet {
  font-family: 'Roboto Slab';
  font-size: 16px;
  text-align: center;
  color: $tomato;
}

@mixin partners---mobile {
  font-family: 'Roboto Slab';
  font-size: 12px;
  text-align: center;
  color: $tomato;
}

@mixin coc---mobile {
  font-family: 'Roboto Slab';
  font-size: 12px;
  font-weight: 300;
  line-height: 1.25;
  text-align: center;
  color: $mango;
}

@mixin coc---tablet {
  font-family: 'Roboto Slab';
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  color: $mango;
}

@mixin btn--primary--text{
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: $tomato;
  text-decoration: none;
  text-transform: uppercase;
}


@mixin landing-image {
  background-color: $background;
  background-image: url('../img/background.jpeg');
  background-size: contain;
  background-position-x: center;
  background-repeat: no-repeat;

  @media screen and (min-width: $tablet-min-width) {
    background-size: 100% auto;
    background-position-y: -15rem;
  }
}

@mixin grid--padding {
  padding-left: 18px;
  padding-right: 18px;

  @media screen and (min-width: $tablet-min-width) {
    padding-left: 45px;
    padding-right: 45px;
  }
  @media screen and (min-width: $desktop-min-width) {
    padding-left: 200px;
    padding-right: 200px;
  }
}

@mixin nav--option--tablet {
  font-family: Roboto;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;  
}

@mixin nav--option--desktop{
  font-family: Roboto;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;  
}

@mixin hamburger--button {
  font-family: FontAwesome;
  font-size: 20px;
  text-align: center;
  color: #ff991d;
  color: $mango;
}

@mixin menu--option{
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 2.5;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;    
}

@mixin landing--description--desktop{
  font-family: RobotoSlab;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
}

@mixin landing--description--tablet{
  font-family: 'Roboto Slab';
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
}

@mixin landing--description--mobile{
  font-family: RobotoSlab;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
}