@import '_reset';
@import '_fonts';
@import '_colors';
@import '_breakpoints';
@import '_mixins';

@import 'components/_button';
@import 'components/_header';
@import 'components/_menu';
@import 'components/_tab';
@import 'components/_schedule';
@import 'components/_speakers';
@import 'components/_jury';
@import 'components/_localitation';
@import 'components/_newsletter';
@import 'components/_footer';
@import 'components/_links';
@import 'components/_collaborators';

.hide {
  display: none;
}

.landing {
  @include landing-image;
  
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding-top: 55px;
  padding-bottom: 55px;

  .logo {
    display: flex;
    align-content: center;
    justify-content: center;

    img {
      height: 150px;
      @media screen and (min-width: $tablet-min-width) {
        height: 238px;
      }
    }
  }

  .description{
    text-align: center;
  }

  .intro{
    @include landing--description--mobile;
    margin-bottom: 30px;
    line-height: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;

    @media screen and (min-width: $tablet-min-width) {
      @include landing--description--tablet;
    }

    @media screen and (min-width: $desktop-min-width) {
      @include landing--description--desktop;
    }

    a {
      font-family: 'Roboto Slab';
      font-weight: 300;
      line-height: 1.5;
      color: $mango;
    }
  }
}

.container-primary {
	//min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
	box-sizing: border-box;

  & > div {
    @include grid--padding-content;
  }
}
