@import '_reset';
@import '_fonts';
@import '_colors';
@import '_breakpoints';
@import '_mixins';


.landing{
  position: relative;
  background-color: $background;
  min-height: 100vh;
  background-image: url('../img/background.jpeg');
  background-size: contain;
  background-position-x: center;
  background-repeat: no-repeat;

  @media screen and (min-width: $tablet-min-width) {
    background-size: 100% auto;
    background-position-y: -15rem;
  }
}

.container-primary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: inherit;

  &_padding{
    padding: 0 18px;

    @media screen and (min-width: $tablet-min-width) {
      padding: 0 45px ;
    }
    @media screen and (min-width: $desktop-min-width) {
      padding: 0 200px;
    }
  }
}

.container-video {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0;

  .video-label{
    @include video---mobile;
    max-width: 125px;
    margin: 0;

    @media screen and (min-width: $tablet-min-width) {
      @include video---tablet;
      max-width: 200px;
    }
  }

  .video-play{
    border-radius: 50%;
    box-shadow: 0 0 0 4px white;
    margin: 0 0 0 20px;
    height: 0;
    padding-top: 30px;
    overflow: hidden;
    width: 30px;
    position: relative;
    color: black;

    &::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 600;
      font-size: .85em;
      margin-left: .1em;
      content: "\f04b";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    @media screen and (min-width: $tablet-min-width) {
      padding-top: 45px;
      width: 45px;
      &::before {
        font-size: 1.2em;
        margin-left: .1em;
      }
    }
  }
}

.container-secondary{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .code-of-conduct{
    @include coc---mobile;
    margin: 20px 0;
    text-decoration: none;

    &::after {
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        font-size: .85em;
        margin-left: .35em;
        content: "\f35d";
    }

    @media screen and (min-width: $tablet-min-width) {
      @include coc---tablet;
      margin: 30px 0;
    }
  }
  .logo {
    img {
      height: 150px;
      @media screen and (min-width: $tablet-min-width) {
        height: 238px;
      }
    }
  }

  .get-tickets {
    padding: 15px 45px;
    border-radius: 6px;
    background-image: linear-gradient(to bottom, rgba(201, 25, 0, 0), rgba(201, 25, 0, 0.09) 73%, $red), linear-gradient($tomato, $tomato);

    &-label{
      @include cta---mobile;
      text-decoration: none;

      @media screen and (min-width: $tablet-min-width) {
        @include cta---tablet;
      }
    }
  }

  .save-the-date {
    @include save-the-date---mobile;
    border: 2px solid;
    display: inline-block;
    padding: 10px 25px;
    opacity: 0.48;

    @media screen and (min-width: $tablet-min-width) {
      @include save-the-date---tablet;
    }
  }

  .claim {
    @include Claim---mobile;

    @media screen and (min-width: $tablet-min-width) {
      @include claim---tablet;
    }
  }
}


.container-collaborators {
    padding-bottom: 10px;
    @media screen and (min-width: $tablet-min-width) {
      padding-bottom: 60px;
    }
  .collaborators-label {
    @include partners---mobile;
    text-align: center;

    @media screen and (min-width: $tablet-min-width) {
      @include partners---tablet;
    }
  }

  .communities {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .logo-item {
    display: inline-block;
    padding: 0 2.5px;

    img {
      display: block;
      height: 30px;
      width: 30px;

      @media screen and (min-width: $tablet-min-width) {
        height: 60px;
        width: 60px;
      }
    }
    .logo-item--codenares {
      border: 1px solid $codenares;
      width: 20px;
      height: 28px;
      @media screen and (min-width: $tablet-min-width) {
        height: 58px;
        width: 58px;
      }
    }
  }

}
