@import '_reset';
@import '_fonts';
@import '_colors';
@import '_breakpoints';
@import '_mixins';

.landing{
  position: relative;
  background-color: $background;
  height: 100vh;
  background-image: url('../img/background.jpeg');
  background-size: contain;
  background-position-x: center;
  background-repeat: no-repeat;
}

.container-primary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
  &_padding{
    padding: 20px 18px 0;
    
    @media screen and (min-width: $tablet-min-width) {
      padding: 20px 45px 0;
    }
    @media screen and (min-width: $desktop-min-width) {
      padding: 20px 200px 0;
    }
  }
}

.container-video {
  align-self: flex-end;
}

.container-secondary{
  .code-of-conduct{
    @include coc---mobile;
    display: block;
    text-decoration: none;
  }

  .get-tickets-container{
    text-align: center;
  }

  .get-tickets {
    display: block;
    padding: 15px 45px;
    border-radius: 6px;
    background-image: linear-gradient(to bottom, rgba(201, 25, 0, 0), rgba(201, 25, 0, 0.09) 73%, $red), linear-gradient($tomato, $tomato);
  
    &-label{
      @include cta---mobile;
      text-decoration: none;
    }
  }

  .save-the-date {
    @include save-the-date---mobile;
  }

  .claim {
    @include Claim---mobile;
  }

}


.container-collaborators {

  .collaborators-label {
    @include partners---mobile;
    text-align: center;
  }

  .communities {
    list-style-type: none;
  }

  .logo-item {
    display: inline-block;
    height: 30px;
    width: 30px;
  }
}

@media screen and (min-width: $tablet-min-width) {
  .get-tickets-label {
    @include cta---tablet;
  }

  .code-of-conduct{
    @include coc---tablet;
  }

  .save-the-date {
    @include save-the-date---tablet;
  }

  .claim {
    @include claim---tablet;
  }

  .collaborators-label {
    @include partners---tablet;
  }

  .logo-item {
    height: 60px;
    width: 60px;
  }
}

