.header-container{
  @include grid--padding;

  padding-right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.9;
  background-image: linear-gradient(to right, #c91900, #650100);
  background-image: linear-gradient(to right, $red, #650100);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);

  .header-logo {
    text-decoration: none;
    display: flex;
    
    img {
      width: 130px;
    }
  }

  nav {
    display: flex;
    align-items: center;

    @media screen and (max-width: $tablet-min-width) {
      display: none;
    }
  }

  .nav-list{
    display: flex;
    align-items: center;    
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 8px;

    li{
      display: inline;
    }

    a{
      @include nav--option--tablet;
      text-decoration: none;
      padding: 20px 7.75px;

      @media screen and (min-width: $desktop-min-width) {
        @include nav--option--desktop;
      }
    }
  }

  .hamburger-container{
    @include hamburger--button;

    @media screen and (min-width: $tablet-min-width) {
      display: none;
    }

    i{
      padding: 20px 14px;
    }
  }

  .link-lang {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: $mango;
    text-decoration: none;
    margin-left: 1rem;
  }
}
  