.jury-container {
  @include grid--padding-content;
  background:#f2f2f2;
  padding-bottom: 60px;
  padding-top: 30px;

  @media screen and (min-width: $tablet-min-width) {
    padding-top: 45px;
  }

  @media screen and (min-width: $desktop-min-width) {
    padding-left: 248px;
    padding-right: 248px;
  }

  h2 {
    @include title-section;
  }
}

.jury-members {
  display: grid;
  grid-column-gap: 1rem;

  @media screen and (min-width: $tablet-min-width) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: $desktop-min-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.jury-member {
  margin-top: 25px;
  margin-bottom: 25px;

  &-header {
    display: flex;
    padding-bottom: 1rem;

    img {
      width: 138px;
      height: 138px;
      border-radius: 6px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      padding-left: 15px;

      li {
        margin-bottom: 0.5rem;
      }

      a {
        color: $red;
      }
    }
  }

  &-body {
    h3 {
      font-family: 'Roboto Slab';
      font-size: 24px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.88;
      letter-spacing: normal;
      text-align: left;
      color: $almost-black;
      margin: 0;
    }

    p {
      margin: 0;
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.63;
      letter-spacing: normal;
      text-align: left;
      color: $charcoal;

      b {
        font-weight: bold;
      }
    }
  }
}