.newsletter-container {
  @include grid--padding-content;
  @include newsletter-image;

  padding-top: 30px;
  padding-bottom: 45px;

  h2 {
    font-family: 'RobotoSlab';
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: $white;
    text-shadow: 0 1px 4px $red;
    margin: 0 0 22px;
  }

  form {
    display: flex;
  }

  input {
    opacity: 0.8;
    border-radius: 4px;
    background-color: #ffffff;
    width: 100%;
    border: 0;
    padding: 1rem;
    box-sizing: border-box;
    color: $charcoal;

    &::placeholder {
      color: $tomato;
      font-family: Roboto;
      font-size: 14px; 
      font-weight: normal;
    }
  }

  span {
    display: block;
    opacity: 0.6;
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.17;
    text-align: center;
    color: $white;
    padding-right: 10px;
    margin-top: 11px;
  }

  button {
    border-radius: 4px;
    background: $mango;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    color: $white;
    border: 0;
    padding: 1rem;
    margin-left: 5px; 
  }
}