.schedule-container {
  h3 {
    display: inline-block;
    text-transform: capitalize;
    margin: 2rem 0;
    padding: 0 1rem 0;
    border-left: 5px solid $mango;
    font-family: RobotoSlab;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      align-items: center;
      padding: 1rem;

      &:nth-child(odd) {
        background: $white;
      }

      img  {
        box-shadow: 0 0 0 2px #b4b4b5, 0 0 5px rgba(33,34,35,.3);
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
        margin-right: 2rem;
      }

      h4 {
        margin: 0;
        padding: 0;
        font-size: 20px;
      }
    }
  }
}