<div class="portfolio" id="photos">
    <div class="section-header" data-overlay-color="#f4f4f4" data-overlay-opacity="0.95">
        <h2 class="text-uppercase">Fotos del evento</h2>
    </div>

    <div class="page-section" data-overlay-color="#ffffff">
        <div class="container">
            <div class="row">
                <div class="col-md-12" id="slider-photos">
                    <div><img data-lazy="img/dataton/cod-4.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-6.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-7.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-14 2.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-36.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-29.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-43.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-48.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-50.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-51.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-54.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-57.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-62.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-58.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-63.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-64.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-65.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-75.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-68.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-76.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-77.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-78.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-81.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-92.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-96.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-103.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-106.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-107.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-119.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-120.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-123.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-113.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-133.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-139.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-150.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-152.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-170.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-172.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-173.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-181.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-189.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-198.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-212.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-214.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-221.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-216.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-228.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-290.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-264.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-287.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-300.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-295.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-305.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-308.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-316.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-320.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-321.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-326.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-328.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-330.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-335.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-343.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-344.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-349.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-348.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-353.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-355.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-359.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-366.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-373.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-375.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-383.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-396.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-393.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-400.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-404.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-410.jpg"></div>
                    <div><img data-lazy="img/dataton/cod-418.jpg"></div>
                </div>
            </div>
            <div class="portfolio-filter text-center">
                <a href="https://photos.app.goo.gl/g8EasZGDEqSBdWjl1" class="btn btn-default">Puedes ver todas aquí</a>
            </div>
            <!-- .portfolio-filter -->
        </div>
    </div>

    <div class="clearfix"></div>
</div>
