<article id="news">
	<div class="section-header" data-overlay-color="#f4f4f4" data-overlay-opacity="0.95">
		<h2 class="text-uppercase">En la prensa</h2>
	</div>
	<div class="page-section" data-overlay-color="#ffffff">
        <div class="text-center">
            <a href="http://www.eldiario.es/desigualdadblog/mujeres-competiciones-datos_6_647845226.html" class="btn btn-primary">El Diario</a>
			<a href="https://mujertech.womenalia.com/datathon-call-of-data-mujeres/" class="btn btn-primary">Womenalia</a>
        </div>
        <br>
	</div>
</article>
