/*-------------------------------------
 * Counter style
 -------------------------------------*/
.couner-item {
	color: $counterColor;
	margin-bottom: 40px!important;

	.count-info {
		padding-left: 29px;
		position: relative;
		top: -22px;
		color: $counterTextColor;

		@media screen and (max-width: $screen-desktop) {
			padding-left: 20px;
		}
	}

	.count {
		@include font-size(1.5);
		letter-spacing: .1em;
		line-height: 1;
		margin-bottom: 5px;

		@media screen and (max-width: $screen-desktop) {
			@include font-size(1.5);
		}
	}

	.title {
		@include font-size(1.7);
		letter-spacing: .1em;
		font-weight: 400;

		@media screen and (max-width: $screen-desktop) {
			@include font-size(1.7);
		}
	}

	.icon-box {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		border: solid 1px $counterColor;
		min-width: 50px;
		min-height: 50px;
		width: 50px;
		height: 50px;
		transform: rotate(45deg);

		@media screen and (max-width: $screen-desktop) {
			min-width: 45px;
			min-height: 45px;
			width: 45px;
			height: 45px;
			font-size: 12px;
		}

		* {
			transform: rotate(-45deg);
		}

		.fa-send {
			position: relative;
			top: -1px;
			left: -2px;
		}
	}
}