/*-------------------------------------
 * List style
 -------------------------------------*/
.list {
	border-left: solid 1px $listBorderColor;
	padding-left: 30px;

	@media screen and (max-width: $screen-phone) {
		padding-left: 15px;
	}

	> h6 {
		margin-bottom: 13px;
		padding-top: 7px;
	}

	ul,
	ol {

		li {
			@include font-size(1.3);
			color: $listColro;
			padding: 3px 0;
		}
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	ol {
		padding-left: 17px;
	}
}