/*-------------------------------------
 * Pricing
 -------------------------------------*/
.pricing-item {
	max-width: 300px;
	width: 100%;
	padding: 50px 10px;
	display: inline-block;
	margin: 0 15px 30px;

	&.style-1 {

		ul {
			transform: scale(1);
			transition: all .3s;
		}

		&:hover {

			ul {
				transform: scale(1.1);
			}
		}
	}

	&.style-3 {
		padding: 50px 10px 0;
		border: solid 1px #222;
		text-decoration: none;
		color: #222;

		.price-box {
			border-color: transparent;
		}

		ul {
			margin-bottom: 10px;
			transform: scale(1);
			transition: all .3s;
		}

		.price-box {
			padding: 15px 0 10px;
			margin: 25px -10px 0;
			background-color: #222;
			color: #fff;

			.price {
				font-weight: 700;
				@include font-size(3);
				line-height: 1;
				margin-bottom: 5px;
			}
		}

		.icon,
		.title {
			position: relative;
			top: 0;
			transition: all .4s;
		}

		&:hover {

			.icon {
				top: -20px;
			}

			.title {
				top: -5px;
			}

			ul {
				transform: scale(1.1);
			}
		}
	}

	&.transparent {
		border: solid 1px #222;

		.price-box {
			border-color: transparent;
		}
	}

	&.dark {
		background: #0b475f;

		* {
			color: #f4f4f4;
		}

		.price-box {
			border-color: #fff;
		}

		.btn-primary.btn-inverted {
			background: #f4f4f4;
			color: #222;
		}

		&.style-1 {
			overflow: hidden;
			position: relative;
			vertical-align: top;

			&:before,
			&:after {
				width: 100%;
				height: 10px;
				content: "";
				display: block;
				position: absolute;
				transition: all .4s;
				background: #f4f4f4;
				left: 0;
			}

			&:before {
				top: -10px;
			}

			&:after {
				bottom: -10px;
			}

			&:hover:before {
				top: 0;
			}

			&:hover:after {
				bottom: 0;
			}
		}
	}

	&.white {
		background: #f4f4f4;

		*:not(.btn) {
			color: #222;
		}

		.price-box {
			border-color: #222;
		}

		&.style-1 {
			overflow: hidden;
			position: relative;
			vertical-align: top;

			&:before,
			&:after {
				width: 100%;
				height: 10px;
				content: "";
				display: block;
				position: absolute;
				transition: all .4s;
				background: #0b475f;
				left: 0;
			}

			&:before {
				top: -10px;
			}

			&:after {
				bottom: -10px;
			}

			&:hover:before {
				top: 0;
			}

			&:hover:after {
				bottom: 0;
			}
		}
	}

	.icon-box

	.price-box {
		display: inline-block;
		border: solid 1px #222;
		min-width: 130px;
		padding: 23px 10px 20px;

		.price {
			font-weight: 700;
			@include font-size(3);
			line-height: 1;
			margin-bottom: 5px;
		}

		.per {
			text-transform: uppercase;
			@include font-size(1.3);
		}
	}

	.title {
		text-align: center;
		text-transform: uppercase;
		@include font-size(2.5);
		letter-spacing: .2em;
		margin-top: 15px;
		margin-bottom: 20px;
		font-weight: 400;
	}

	ul {
		margin-bottom: 45px;

		li {
			@include font-size(1.4);
			margin-bottom: 5px;

			&.through {
				text-decoration: line-through;
			}
		}
	}
}
