//-------------------------------------
// Menu
//
// 29.  Path settings
// 36.  Media queries breakpoints
// 45.  General settings
// 56.  Typography
// 127. Page header
// 142. Footer
// 160. Social buttons
// 172. Forms
// 208. Buttons
// 251. Navbar style
// 284. Features
// 296. Progress bar
// 302. Carousel
// 314. Carousel team
// 323. Blog
// 329. Pagination
// 338. List
// 347. Service
// 359. Portfolio
// 365. Helpers
// 370. Counters
//
//-------------------------------------

//-------------------------------------
// Path settings
//-------------------------------------
$imgPath: "../img/";
$headerPath: "../img/content/headers/";
$sectionPath: "../img/content/section-background/";

//-------------------------------------
// Media queries breakpoints
//-------------------------------------
$screen-phone: 480px;
$screen-tablet: 768px;
$screen-desktop: 992px;
$screen-tablet-h: 1025px;
$screen-lg-desktop: 1200px;

//-------------------------------------
// General settings
//-------------------------------------
$bodyBg: #f4f4f4; // main bg color
$bodyColor: #444444; // main bg color
$bodyFontFamily: 'Open Sans', sans-serif; //main font-family
$htmlFontSize: 62.5%; //main font-size
$bodyFontSize: 1.7; //main font-size
$backgroundOverlayColor: #191919; // black overlay
$backgroundOverlayReversColor: #ffffff; // white overlay

// -----------------------------------
// Typography
//-------------------------------------
// Heading font-size
$headingColor: #000000;

// Heading font-size
$h1FontSize: 3.9;
$h2FontSize: 2.5;
$h3FontSize: 2;
$h4FontSize: 1.9;
$h5FontSize: 1.8;
$h6FontSize: 1.1;

// Heading font-weight
$h1FontWeight: 600;
$h2FontWeight: 300;
$h3FontWeight: 300;
$h4FontWeight: 300;
$h5FontWeight: 400;
$h6FontWeight: 400;

// Heading letter-spacing
$h1LetterSpacing: 0.1em;
$h2LetterSpacing: 0.1em;
$h3LetterSpacing: 0.1em;
$h4LetterSpacing: 0.1em;
$h5LetterSpacing: 0.3em;
$h6LetterSpacing: 0.1em;

// Heading line-height
$h1LineHeight: 1.6;
$h2LineHeight: 1.6;
$h3LineHeight: 1.7;
$h4LineHeight: 1.6;
$h5LineHeight: 1.6;
$h6LineHeight: 1.6;

// Paragraph font-size
$pFontSize: 1.7;

// Paragraph font-weight
$pFontWeight: 400;

// Paragraph letter-spacing
$pLetterSpacing: 0em;

// Paragraph letter-spacing
$pLineHeight: 1.6;

// List font-size
$liFontSize: 1.7;

// List font-weight
$liFontWeight: 300;

// List letter-spacing
$liLetterSpacing: 0em;

// List letter-spacing
$liLineHeight: 1.765;

// delimiter color
$delimiterColor: #eaeaea;

// delimiter top offset
$delimiterTopOffset: 2.500em;

// delimiter bottom offset
$delimiterBottomOffset: 3.125em;

//-------------------------------------
// Page header
//-------------------------------------
// Page header color
$pageHeaderColor: #191919;

// Page header font-size
$pageHeaderFontSize: 1.6;

// Page header letter-spacing
$pageHeaderLetterSpacing: 0.5em;

// Page header line color
$pageHeaderLineColor: #047;

//-------------------------------------
// Footer
//-------------------------------------
// Footer top offset
$footerTopOffset: 6.250em;

// Footer bottom offset
$footerBottomOffset: 3.750em;

// Footer background color
$footerBgColor: #0b475f;

// Copyright font-size
$copyrightFontSize: 1.3;

// Copyright color
$copyrightColor: #cccccc;

//-------------------------------------
// Social buttons
//-------------------------------------
// Social buttons background color
$socialBgColor: #ffffff;

// Social buttons hover background color
$sociaHoverlBgColor: #c7c7c7;

// Social buttons color
$socialColor: #111111;

//-------------------------------------
// Forms
//-------------------------------------
// Input border color
$inputBorderColor: #e9e9e9;

// Input border color
$inputFocusBorderColor: #047;

// Input placeholder font-size
$inputFontSize: 1.2;

// Input placeholder font-weight
$inputFontWeight: 400;

// Input placeholder letter-spacing
$inputLetterSpacing: 0.1em;

// Select color
$selectColor: #555555;

// Help block color
$helpBlockColor: #777777;

// Help block font-size
$helpBlockFontSize: 1.2;

// Radio and Checkbox font-size
$radioCheckboxFontSize: 1.2;

// Radio and Checkbox font-weight
$radioCheckboxFontWeight: 400;

// Radio and Checkbox letter-spacing
$radioCheckboxLetterSpacing: 0.1em;

//-------------------------------------
// Buttons
//-------------------------------------
// Button font-size
$buttonFontSize: 1.2;

// Button font-weight
$buttonFontWeight: 600;

// Button letter-spacing
$buttonLetterSpacing: 0.1em;

// Button primary
$buttonPrimaryColor: #ffffff;
$buttonPrimaryBgColor: mix(#057, #262626, 70%);
$buttonPrimaryHoverColor: #ffffff;
$buttonPrimaryHoverBgColor: #393939;

// Button primary inverted
$buttonPrimaryInvertedColor: mix(#057, #262626, 70%);
$buttonPrimaryInvertedBgColor: #ffffff;
$buttonPrimaryInvertedHoverColor: #151515;
$buttonPrimaryInvertedHoverBgColor: #ffffff;

// Button default
$buttonDefaultColor: #555555;
$buttonDefaultBgColor: transparent;
$buttonDefaultHoverColor: #000000;
$buttonDefaultHoverBgColor: transparent;
$buttonDefaultBorderColor: #aaaaaa;
$buttonDefaultHoverBorderColor: #000000;

// Button default inverted
$buttonDefaultInvertedColor: #ffffff;
$buttonDefaultInvertedBgColor: transparent;
$buttonDefaultInvertedBorderColor: #ffffff;

// Link color
$linkColor: #0b475f;

// Link hover color
$linkHoverColor: #047;

//-------------------------------------
// Navbar style
//-------------------------------------
// Navbar background color
$navbarBgColor: #1e1e1e;

// Navbar style2 background color
$navbarStyle2BgColor: #000000;

// Navbar link color
$navbarLinkColor: #ffffff;

// Navbar top link font-size
$navbarTopLinkFontSize: 1.2;

// Navbar top link letter-spacing
$navbarTopLinkLetterSpacing: 0.2em;

// Navbar dropdown link hover background color
$navbarDropdownLinkHoverBgColor: #ffffff;

// Navbar dropdown background color
$navbarDropdownBgColor: #1e1e1e;

// Navbar devider color
$navbarDeviderColor: #424242;

// Navbar toggle color
$navbarToggleColor: #ffffff;

// Top logo background color
$topLogoBgColor: #000000;

//-------------------------------------
// Features
//-------------------------------------
// Style 1 color
$featuresStyle1Color: mix(#057, #262626, 70%);

// List type 1 border color
$featuresStyle1BorderColor: #e3e3e3;

// List type 1 featuress count
$featuresStyle1ListCount: 6;

//-------------------------------------
// Progress bar
//-------------------------------------
// Skill Color
$progressBarColor: #ffffff;
$progressBarDarkColor: #000000;

//-------------------------------------
// Carousel
//-------------------------------------
// Color
$carouselNavColor: #ffffff;

// Background Color
$carouselNavBGColor: #0b475f;

// dotsColor
$dotsColor: #ffffff;

//-------------------------------------
// Carousel team
//-------------------------------------
// Overlay color
$teamOverlayColor: #0b475f;

// Description color
$teamDescriptionColor: #ffffff;

//-------------------------------------
// Blog
//-------------------------------------
// list title color
$listTitleColor: #000000;

//-------------------------------------
// Pagination
//-------------------------------------
// Border color
$borderColor: #dddddd;

// Hover border color
$HoverborderColor: #7c7b7b;

//-------------------------------------
// List
//-------------------------------------
// List border color
$listBorderColor: #e2e2e2;

// List color
$listColro: #777777;

//-------------------------------------
// Service
//-------------------------------------
// Service border color
$serviceBorderColor: #000000;

// Service icon color
$serviceIconColor: #000000;

// Service text color
$serviceIconColor: #000000;

//-------------------------------------
// Portfolio
//-------------------------------------
// Portfolio item overlay color
$portfolioItemOverlayColor: #f4f4f4;

//-------------------------------------
// Helpers
//-------------------------------------
$borderColor: #979797;

//-------------------------------------
// Counters
//-------------------------------------
$counterColor: mix(#047, #262626, 70%);
$counterTextColor: #000000;
